<section class="ide-page">
  <h1>Experiência Profissional</h1>

  <p>Experiência com Tecnologia:</p>

  <ul>
    <li>
      Equipamentos e Ferramentas: Trabalho diariamente com ambientes tanto MacOS quanto Linux, o que me proporciona flexibilidade e experiência em diversos sistemas operacionais e ferramentas de desenvolvimento.
    </li>
    <li>
      Projetos Profissionais: Já tive a oportunidade de trabalhar em dois projetos solo na minha empresa, sendo um deles a construção de um manager que conecta diversos bancos de dados em endereços diferentes, mostrando minha capacidade de liderar iniciativas e entregar soluções inovadoras.
    </li>
    <li>
      Projetos Pessoais: Estou sempre me aperfeiçoando com meus projetos pessoais focados no estudo contínuo, também já participei de alguns grandes projetos, além de já ter trabalhado em alguns freelas.
    </li>
  </ul>

  <br>
  
  <p>Objetivos Profissionais:</p>

  <p>
    &nbsp; Busco oportunidades para crescer ainda mais como desenvolvedor e contribuir para o sucesso de equipes com soluções criativas e eficientes. Meu objetivo é aplicar meus conhecimentos, aprender com profissionais experientes e me desenvolver constantemente para alcançar um alto nível de excelência.
  </p>
  <p>
    &nbsp; Se você está em busca de um profissional dedicado, apaixonado por tecnologia e sempre pronto para aprender, adoraria conectar-me com você! Vamos conversar sobre como posso contribuir para sua equipe!
  </p>
</section>
