<section class="ide-page">
  <h1>Conheça-me</h1>

  <p>
    &nbsp; 
    Olá!
    Me chamo Lucas Anes, tenho {{ myYearsOld }} anos e atualmente estou cursando o {{ myCurrentPeriod }}° período de Ciência da Computação na Unifeso.
    <br>
    Desde cedo, me apaixonei por tecnologia e programação, e estou sempre em busca de novos conhecimentos e desafios que me permitam crescer profissionalmente.
  </p>

  <p>
    &nbsp; 
    Embora minha especialização seja em back-end, atualmente atuo como full stack, desenvolvendo tanto front-end quanto back-end. 
    <br>
    Tenho experiência prática em JavaScript/TypeScript, com destaque para NestJS, NodeJS, NextJS, e React. 
    <br>
    Além disso, possuo forte vivência com banco de dados e SQL, especialmente para geração de relatórios e consultas complexas.
  </p>

  <p>
    &nbsp; 
    Estou sempre aberto para novas oportunidades, então, se você estiver
    procurando um Desenvolvedor esforçado e completo, não hesite em entrar em contato comigo.
  </p>

  <p>Principais Qualidades:</p>

  <ul>
    <li>
      Aprendizagem Rápida: Sou autodidata e tenho uma habilidade excepcional para aprender novas tecnologias e ferramentas com rapidez.
    </li>
    <li>
      Raciocínio Lógico: Tenho forte capacidade de análise e resolução de problemas, características essenciais para um desenvolvedor.
    </li>
    <li>
      Curiosidade e Dedicação: Sou apaixonado por explorar novas soluções e, constantemente, busco maneiras de aplicar inovações tecnológicas no meu trabalho.
    </li>
  </ul>
</section>
