<section class="ide-page">
  <h1>Outras habilidades</h1>

  <p>💽 SQL:</p>

  <ul>
    <li *ngFor="let skill of sql">{{ skill }}</li>
  </ul>

  <br>

  <p>🛠️ Ferramentas:</p>

  <ul>
    <li *ngFor="let skill of tools">{{ skill }}</li>
  </ul>

  <br>

  <p>💻 UI:</p>

  <ul>
    <li *ngFor="let skill of ui">{{ skill }}</li>
  </ul>

  <br>

  <p>☁ Cloud:</p>

  <ul>
    <li *ngFor="let skill of cloud">{{ skill }}</li>
  </ul>

  <br>

  <p>🔧 IDE'S:</p>

  <ul>
    <li *ngFor="let skill of ide">{{ skill }}</li>
  </ul>
</section>
