<section class="ide-page">
  <h1>Conheça-me</h1>

  <p>
    Tenho {{ myYearsOld }} anos e estou cursando o 1° período de Ciência Da
    Computação. Atualmente, estou trabalhando como
    <b>Desenvolvedor Freelancer</b>.
  </p>

  <p>
    Sou um <b>Desenvolvedor Full Stack</b> habituado com a criação de websites e
    aplicações web escaláveis e performáticas.
  </p>

  <p>
    Estou sempre aberto para novas oportunidades, então, se você estiver
    procurando um Desenvolvedor, não hesite em entrar em contato comigo.
  </p>
</section>
